<% content_for :events_content do %>

<% if @events %>
    <% @events.each do |e| %>
        <div>
            <a href="<%= event_path(e) %>" class="float_left">
                <%= image_tag e.photo.url(:small) %>
            </a>
            <div class="float_left">
            <%= link_to e.title, event_path(e) %>
            <% if signed_in? %>
                <%= link_to "(Edit)", edit_event_path(e) %>
            <% end%>
            </div>
            <div class="clear_both"></div>
        </div>
    <% end %>

<% else %>
    No events
<% end %>

<% if signed_in? %>
    <br />
    <br />
    <br />
    <%= link_to "Add an event", new_event_path %>
<% end %>

<% end %>