<%= content_for(:head) do %>
      <%= javascript_include_tag :defaults %>
<% end %>

<% content_for :events_content do %>

<% if @events %>
    <% @events.each do |e| %>
        <div class="event_list_item">
            <div class="float_left event_list_item_image">
                <a href="<%= event_path(e) %>">
                    <%= image_tag e.photo.url(:small) %>
            </a>
            </div>
            <div class="float_left event_data">
            <%= link_to e.title, event_path(e) %> <br />
            <span class="event_date">
                <span><%= e.start_time %></span>
            </span><br />
            <span class="event_description"><%= e.description %></span>
            <% if signed_in? %>
                <span>
                    (<%= link_to "edit", edit_event_path(e) %> |
                    <%= link_to "delete", event_path(e), :method => :delete, :confirm => "You sure?", :title => "Delete #{e.title}" %>
                    
                    )
                </span>
            <% end%>
            </div>
            <div class="clear_both"></div>
        </div>
    <% end %>

<% else %>
    No events
<% end %>

<% if signed_in? %>
    <br />
    <br />
    <br />
    <%= link_to "Add an event", new_event_path %>
<% end %>

<% end %>