<div>
    <%= image_tag @event.photo.url(:small) %>
    Title: <%= @event.title %><br />
    Description: <%= @event.description %><br />
    Start Time: <%= @event.start_time %>
</div>

<div>
    <hr />
    Show map here <br />
    Longitude: <%= @event.longitude %><br />
    Latitude: <%= @event.latitude %>
</div>