<%= content_for(:head) do %>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
      var myLatlng = new google.maps.LatLng(
          <%= @event.latitude %>, <%= @event.longitude %>);
          
      var myOptions = {
        zoom: 8,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }

      var map = new google.maps.Map(
          document.getElementById("map_canvas"), myOptions);      

      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title:"<%= @event.title %>"
      }); 
  }
  
  $(document).ready(function() {
     initialize(); 
  });

</script>

<% end %>

<%= content_for(:events_content) do %>
<p>
    <span style="display: block; padding-bottom: 10px">Upcoming event</span><hr />
</p>
<div class="event_detail">
    <div>
        <div class="float_left" style="padding-right: 30px">
        <%= image_tag @event.photo.url(:medium) %>
        </div>
        <div class="round float_left event_detail_venue_title">
            <span class="desc title_text">Venue</span>
            <div class="event_detail_venue">
                <span class="desc"><%= @event.venue_name %></span><br />
                <span class="desc"><%= @event.venue_address %>,</span>
                <span class="desc"><%= @event.venue_city %>.</span><br /><br />
                <span class="desc">Price:&nbsp;</span><span class="desc edf italic" style="color:purple; font-weight: bold;"><%= @event.price %> euro.</span>
            </div>
        </div>
        <div class="clear_both"></div>
    </div>
    <p class="title"><%= @event.title %></p>
    
    <p class="description">
        <%= @event.description %><br />
    </p>
    <p>
        <span class="desc">Start Time:</span> <span class="edf"><%= @event.start_time %></span>
    </p>
    <br />
</div>

<div class="round map_wrap">
    <div id="map_canvas" class="round" style="height: 500px;"></div>
</div>

<% end %>