<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= javascript_include_tag "jquery" %>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>

  <%= yield(:head) if content_for?(:head) %>
</head>
<body>
    <div id="container">
        <header>
            <%= render 'layouts/header_top' %>
            
            <%= render 'layouts/header_bottom'%>
        </header>
        
        <section class="round">
            <% flash.each do |key, value| %>
                <div class="flash <%= key %>">
                    <%= value %>                
                </div>
            <% end %>
            <%= content_for?(:content) ? yield(:content) : yield %>
            
            <div class="ads_banner_bottom">
                <script type="text/javascript"><!--
                    google_ad_client = "pub-3757799897045353";
                    /* 728x90 Buttom */
                    google_ad_slot = "4541544217";
                    google_ad_width = 728;
                    google_ad_height = 90;
                    //-->
                </script>
                <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
        </section>
        
        <footer class="round">
            <span>&copy; &nbsp;Copyright Afro Entertainment&nbsp; <%= current_year %></span>
        </footer>
    </div>
</body>
</html>
