<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= javascript_include_tag "jquery" %>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>

  <%= yield(:head) if content_for?(:head) %>
</head>
<body>
    <div id="container">
        <header>
            <%= render 'layouts/header_top' %>
            
            <%= render 'layouts/header_bottom'%>
        </header>
        
        <section class="round">
            <% flash.each do |key, value| %>
                <div class="flash <%= key %>">
                    <%= value %>                
                </div>
            <% end %>
            <%= content_for?(:content) ? yield(:content) : yield %>
            
        </section>
        
        <footer class="round">
            <span>&copy; &nbsp;Copyright Afro Entertainment&nbsp; <%= current_year %></span>
        </footer>
    </div>
</body>
</html>
